
.login-section{
    background-color: var(--color-primary-1);
    height: 500px;
    width: 500px;
    text-align: center;
    margin-top: 2rem;
}

/*Aumenta a logo do  site*/
.login-section > #nav_logo {
    font-size: 120px;
    margin-bottom: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 20rem;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);    
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
    padding: 1rem;
}

.footer-login{
    margin-top: 30px;
}
